* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Garamond ;

}

.App {
  background-color: #88b04b;
  height: 755px;
}
.Container {
  display: flex;
  position: relative;
  justify-content: center;
  width: 40%;
  height: 70%;
  flex-direction: column;
  align-items: center;
  left: 20%;
}

.SetUpMenu {
  padding: 5px;
}
.SetUpMenu select {
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
}
.SetUpMenu p {
  font-size: 1.2rem;
  text-align: center;
  font-weight: bold;
  text-decoration: underline;
}
.SetUpMenu button {
  margin: 10px;
  padding: 10px;
  width: 100px;
  border: none;
  font-size: 22px;
  font-weight: bolder;
  border-radius: 20px;
}
.SetUpMenu button:hover {
  background-color: green;
  transition: 1s ease;
}
.Board {
  display: grid;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  border: black 1px solid;
  transition: 0.5s ease;
}

.cell {
  display: inline-block;
  background-color: white;
  flex-wrap: wrap;
  border: 3px solid black;
  transition: 0.5s ease;
}

.blueCell {
  display: inline-block;
  justify-content: center;
  flex-wrap: wrap;
  border: 3px solid black;
  transition: 0.5s ease;
  background-color: #34568b;
  transform: scale(1.1);
}

.Hover {
  position: absolute;
  width: 50%;
  height: 70%;
  border: 5px solid black;
  border-radius: 20px;
  left: 100%;
  top: 30%;
  margin-left: 20px;
  background-color: #fff;
}
.Hover h1 {
  text-align: center;
  align-items: center;
  text-decoration: underline;
  margin-bottom: 15%;
}
.Hover h2 {
  text-align: center;
  align-items: center;
  margin-bottom: 10px;
  font-size: 2.3rem;
}

@media screen and (min-width: 300px) and (max-width: 600px) {
  .Container {
    width: 100%;
    justify-content: flex-start;
    left: 0;
  }
  .Board {
    width: 300px;
    height: 300px;
  }

  .Hover {
    top: 80%;
    left: 20%;
    height: 40%;
  }
}
